@import 'base/fonts';

* {
    font-family: 'Gilroy';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s all;
}

@import 'blocks/header';
@import 'blocks/hamburger';
@import 'blocks/main';
@import 'blocks/footer';
@import 'blocks/menu';
@import 'blocks/filedrag';
@import 'blocks/modals';
@import 'blocks/darktheme';

@import 'base/anims';
@import 'base/media';

.container {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
}

body {
    transition: 0 margin-right;
}