@import 'base/fonts';

@import 'blocks/header';
@import 'blocks/hamburger';
@import 'blocks/main';
@import 'blocks/footer';
@import 'blocks/menu';
@import 'blocks/filedrag';
@import 'blocks/modals';

* {
    font-family: 'Gilroy';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
}